.left-form{
    -fx-background-color: linear-gradient(to bottom right, #23825e, #6d6e30);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}
.right-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px .4px;
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#f43f57;
}
.textfield{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-border-color: #000;
    -fx-border-radius: 4px;
    -fx-border-width: .4px;
    -fx-font-family:"Tahoma";
    -fx-font-size: 13px;
}
.textfield:focused{
    -fx-background-color: #fff;
    -fx-border-color:  linear-gradient(to bottom right, #23825e, #6d6e30);
    -fx-border-width: .8px;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom, #1c936d, #245b55);
    -fx-border-radius: 4px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom, #19b17c, #1f7569);
}